body {
    margin: 0;
    height: 100vh;
    background-image: url('blackgrid.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    color: white;

    transform: translateY(-50px);
}


h3 {
    color: rgba(0, 0, 0, 0);
}

button {
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
    border: 1px solid #111;
    border-radius: 5px;
    cursor: pointer;
}

input {
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
    border: 1px solid #111;
    border-radius: 5px;
    cursor: pointer;
}

input::hover {
    background-color: #333;
}

button:hover {
    background-color: #333;
}
