body {
  background-color: black;
  text-align: center;
}

@keyframes introAnim {
  0% {color: black;}
  100% {color: white;}
}

.icontent {
  position: relative;
  top: 50px;
  color: white;
  animation-name: introAnim;
  animation-duration: 2s;
}
